/*comonents>Main.js*/
.mainContainer{
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;/*
    padding-left: 20px;
    padding-right: 20px;*/
}

/*liscomp > ItemList.ja*/
.
.lista{
    text-align: center;
    max-width: 1000px;
}


/*listcomp > EpListItem.js*/

.linha{
    padding: 20px 15px 0 ;
    margin: 0;
    width: 100%;
}

.lista-title{
    z-index: -1;
}

a{
    width: 100%;
}

.linhaTxt{
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
}

.pitem{
    margin: 0;
}

.imgitem{
    display: block;
    width: 80%;
    max-width: 100px;
    min-width: 50px;
    margin: 0 auto;
}


hr{
    margin: 0;
    border-bottom: 1px solid white;
}


.time{
    padding-left: 50%;
    text-align: right;
}

@media (min-width: 768px) {
    .linhaimg {
        max-width: 200px;
    }
    .linhadir,.linhatxt{
        max-width: 600px;
    }
}

/* var mainItemDiv = {
            paddingLeft: 50,
            paddingTop: 10,
            paddingBottom: 10,
            backgroundColor: "#222222",
            color: "white",
            borderBottomColor: "white",
            borderBottomWidth: 5
        }*/


@media (max-width: 2560px) {
    .programText{
        font-size:2.0em;
    }
}

@media (max-width: 1440px) {
    .programText{
        font-size: 2.0em;
    }
}

@media (max-width: 1024px) {
    .programText{
        font-size:1.8em;
    }
}

@media (max-width: 768px) {
    .programText{
        font-size:1.5em;
    }

    .imageResize{
        width: 500px;
    }


}

@media (max-width: 425px) {
    .programText{
        font-size:1.4em;
    }
    .imageResize{
        width: 300px;
    }
}

@media (max-width: 375px) {
    .programText{
        font-size:1.0em;
    }
    .imageResize{
        width: 300px;
    }
}

@media (max-width: 320px) {
    .programText{
        font-size:0.8em;
    }
    .imageResize{
        width: 300px;
    }
}

.item-align-center{
    text-align: center;
}

.item-align-left{
    text-align: left;
}
.item-align-right{
    text-align: right;
}

.smallMediumDiv{
    padding-top: 2.0em;
}

.item-max-width{
    max-width: 386px;
}

.imgCenter{
    text-align: center;
}

#row{
    margin-right: 0px;
    margin-left: 0px;
}

