@import "./vendor/milligram/milligram.css";

/*body {
    margin: 100px 50px;
    text-align: center;
}

h1 {
    margin-bottom: 8rem;
}

ul {
    list-style: none;
    margin: 0;
}

img {
    display: block;
    margin: 0 auto;
}*/



/*Bootstrap - fabio*/

::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: bold;

}

/*
#registo-buttons{
    margin-top: 15px;
    border-radius: 0px;

}*/

/*
.container-fluid{
    text-align: center;
    background-color: #0099AB;
    border-color: #0099AB;
}*/



/* Vitor */

body{
    background-color: #0F0F0F;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%
}

.navbar{
    background-color:  #0099AB;
    border: solid 1px #003333;
}

.container{
    text-align: center;
    padding: 0 5%;
    color: white;
}

.splashBody{
    height: 100%;
}


/*Links*/
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: whitesmoke;
}

/* mouse over link */
a:hover {
    color: deepskyblue;
}

/* selected link */
a:active {
    color:  #ffffff;
}


input{
    background-color: #00847a;
}


img{
    cursor: pointer;
}

/*Sweet Alert*/
.sa-confirm-button-container>button{
    min-height: 50px;
}

/*Spinkit*/
.cube-grid{
    margin: 15% 47%;
}
/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/


